<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.facebook %}
    <div class="call-social"><strong>Facebook: </strong>
      <a href="{{ site.data.contact.facebook }}" target="_blank" rel="noopener noreferrer">
        {{ site.data.contact.facebook }} 
      </a>
    </div>
    {% endif %}
    {% if site.data.contact.location %}
    <div class="call-location" style="div {
      white-space:normal;
    }"> <strong>Location: </strong> 
      {{ site.data.contact.location }}
    </div>
    {% endif %}

  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Liên hệ</a>
      </div>
    {% endif %}
</div>
