---
layout: default
bodyClass: "page-posts"
---

<style>
  #image-intro {
      height: auto;
      width: 100%;
  }

  body {
      font-size: 16px;
  }
</style>

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col align-self-center">
        <img id="image-intro" alt="{{ page.title }}" class="rounded float-end" src="{{ page.intro_image | relURL }}"/>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% for post in site.posts %}
    <div class="col-12 col-md-6 mb-3">
      <div class="post post-summary">
        <div class="post-content">
          <h2 class="post-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          <p>{{ post.excerpt | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
